$background:   #242424;
$accent:       #C66812;
$info-grey:    #B6B6B6;
$primary-text: #B6B6B6;
$warning-red:  #B44E4E;
$warning-red-border: #BB0000;
$card-back:    #343434;
$button:       #8C5D00;

$card-bradius:   8px;
$button-bradius: 60px;
$card-boxshadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);