@use 'imports/var' as var;

header {
    height: 94px;
    display: flex;
    flex-flow: row;
    justify-content: start;
    font-size: 14px;
    border-bottom: 3px solid var.$accent;
    font-family: "Noto Sans", sans-serif;
    padding: 20px 22px;
    box-sizing: border-box;

    .back-button {
        cursor: pointer;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        background-color: var.$card-back;
        margin-right: 10px;
        height: 55px;
        width: 60px;
        border-radius: var.$card-bradius;

        img {
            transform: rotate(180deg);
        }
    }

    .header-text {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    h1 {
        color: var.$accent;
        font-size: 2em;
        line-height: 36px;
    }

    h6 {
        color: var.$info-grey;
        font-size: 1.1em;
        margin: 0;
        font-weight: normal;
    }
}